# Node modules
node_modules/

# Environment variables
.env

# Data directory
data/

# Log files
*.log

# Other files to ignore
.DS_Store

#Repo cleanup
bfg-1.14.0.jar

#Git directory
Web-CW2.git/

#Logs directory
logs/

#Uploads directory
public/uploads/