{{> layout}}
<h1 class="my-4">{{title}}</h1>
<div class="row">
  {{#items}}
  <div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
      <img class="card-img-top" src="{{image}}" alt="{{name}}">
      <div class="card-body">
        <h4 class="card-title">{{name}}</h4>
        <p class="card-text">{{description}}</p>
        <h5>£{{price}}</h5>
        <p class="card-text"><small class="text-muted">Available at {{store}}</small></p>
      </div>
    </div>
  </div>
  {{/items}}
</div>