{{> layout }}
<h1 class="my-4">Manager Dashboard</h1>
<div class="row">
  <div class="col-md-4">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">Manage Items</h5>
        <p class="card-text">Add, update, or delete items in stock.</p>
        <a href="/manage-items" class="btn btn-primary">Go to Manage Items</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">Manage Volunteers</h5>
        <p class="card-text">Add or remove volunteers.</p>
        <a href="/manage-volunteers" class="btn btn-primary">Go to Manage Volunteers</a>
      </div>
    </div>
  </div>
</div>